<div class="container">
    <div ng-if="error" class="alert alert-danger">{{error}}</div>
    <form role="form" ng-submit="createUser()">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h2>Hello!</h2>
            <p>We are currently in private beta. If you would like to help us beta test, please send an email to <a href="mailto:beta@hypelineapp.co">beta@hypelineapp.co</a> and we'll get you on the list. Thank you.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-sm-offset-3 form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="user.firstName" />
            </div>
            <div class="col-xs-12 col-sm-3 form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="user.lastName" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="user.email" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3  form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" ng-model="user.userName" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3  form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3  form-group">
                <label for="token">Beta Token</label>
                <input type="text" class="form-control" id="token" ng-model="user.token" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
                <input class="btn btn-primary" type="submit" value="Create User" id="createUser"></input>
            </div>
        </div>
    </form>
</div>
