<div class="container">
    <form role="form" ng-submit="createUser()">
        <div ng-if="error" class="alert alert-danger"><=% error ></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="user.firstName" />
            </div>
            <div class="col-xs-12 col-sm-6 form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="user.lastName" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="user.email" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" ng-model="user.userName" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <input class="btn btn-primary" type="submit" value="Create User" id="createUser"></input>
            </div>
        </div>
    </form>
</div>
