<div class="container">
    <form role="form" ng-submit="login()">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                <div ng-if="error" class="alert alert-danger">{{error}}</div>
                <div ng-if="messages" class="alert alert-info" ng-bind-html="messages"></div>
          </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                <label for="userName">Email</label>
                <input type="text" class="form-control" id="userName" ng-model="user.userName" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                <input ng-if="!loading" class="btn btn-primary" type="submit" value="Login" id="login" ng-diabled="!loading"></input>
                <p ng-if="loading">Loading...</p>
            </div>
        </div>
    </form>
</div>
