<div class="row">
  <div class="options-container clearfix">
    <div class="options-toggle">
      <button ng-click="toggleOptions()">[ <i class="fa fa-gear"></i> Chart Options - {{chartOptions ? 'Hide' : 'Show'}} ]</button>
    </div>
    <div class="wrapper clearfix" ng-show="chartOptions">
      <div class="col-xs-12 section">
        <ul class="input-group time-grouping">
          <li>
            <label for="second" class="label label-default">Seconds</label>
            <input type="radio" value="second" id="second" ng-model="timegroup"/>
          </li>
          <li>
            <label for="minute" class="label label-default">Minutes</label>
            <input type="radio" value="minute" id="minute" ng-model="timegroup"/>
          </li>
          <li>
            <label for="hour" class="label label-default">Hours</label>
            <input type="radio" value="hour" id="hour" ng-model="timegroup"/>
          </li>
          <li>
            <label for="day" class="label label-default">Days</label>
            <input type="radio" value="day" id="day" ng-model="timegroup"/>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 section">
        <label for="limit-date" class="label label-default">Limit results by date</label>
        <input type="checkbox" ng-model="limitDate" />
        <div class="limit-dates" ng-show="limitDate">
          <div class="chart-options">
            <div class="calendar-container">
              <label for="startDate" class="label label-default">Start Date</label>
              <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" show-weeks="false" close-text="Close" close-on-date-selection="false" show-button-bar="false" ng-click="open($event)" id="startDate" required />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
              </p>
              <label for="endDate" class="label label-default">End Date</label>
              <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" show-weeks="false" close-text="Close" close-on-date-selection="false" show-button-bar="false" ng-click="open($event)" id="endDate" required />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
              </p>
              <div class="apply">
                <button class="btn btn-primary" ng-click="dateRangeUpdated()">Submit</button>
                <button class="btn btn-default" ng-click="dateRangeReset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ng-if="chart" class="chart">
        <highchart id="chart-{{id}}" config="chartConfig"></highchart>
    </div>
    <div ng-if="!chart" class="">
      <p>No data for this time range</p>
    </div>
  </div>
</div>


<div class="row" ng-if="chart">
  <div class="col-xs-4 chart-data">
    <h4 class="sub-heading">Top Ten Results</h4>
    <ul class="terms">
      <li ng-repeat="term in topTen" class="term">
        <ul class="details">
          <li class="detail"><strong>Origin:</strong><br /> {{term.origin}}</li>
          <li class="detail"><strong>Score:</strong><br /> {{term.sentiment}}</li>
          <li class="detail"><strong>Detail:</strong><br /> {{term.text}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-4 chart-data">
    <h4 class="sub-heading">Bottom Ten Results</h4>
    <ul class="terms">
      <li ng-repeat="term in bottomTen" class="term">
        <ul class="details">
          <li class="detail"><strong>Origin:</strong><br /> {{term.origin}}</li>
          <li class="detail"><strong>Score:</strong><br /> {{term.sentiment}}</li>
          <li class="detail"><strong>Detail:</strong><br /> {{term.text}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-4 chart-data">
    <h4 class="sub-heading">Associated Data</h4>
    <ul class="terms">
      <li ng-repeat="keyword in keywords" class="term">
        <ul class="details">
          <li class="detail"><strong>Keyword:</strong><br /> {{keyword.keyword}}</li>
          <li class="detail"><strong>Relevancy Score:</strong><br /> {{keyword.score}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
