
.highcharts-container{
  width: 100% !important;
}

.chart{
  padding-top: 1rem;
  width: 100%;
}

.chart-label{
  margin-top: 5rem;
}

.chart-data{
  border-right: 1px solid #eee;
  &:last-of-type{
    border: 0;
  }
}

.action{
  border-left: 1px solid #eee;
}

ul.terms, ul.details, ul.runs, ul.menu{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    position: relative;
  }
  .term{
    padding: 1rem 0;
    border-bottom: 1px dashed #ccc;
    &:last-of-type{
      border: 0;
    }
  }
  .options{
    position: absolute;
    right: 5px;
    cursor: pointer;
    .fa{
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  .detail{
    strong{
      background: #eee;
      text-transform: uppercase;
      font-size: .8rem;
      padding: 3px 3rem 3px 2px;
    }
  }
}

.active-runs{
  position: relative;
  .runs-disabled{
    position: absolute;
    background: rgba(255,255,255,.8);
    z-index: 1000;
    width: 100%;
    height: 100%;
    p{
      text-align: center;
      padding: .5rem 0;
      width: 50%;
      margin: 15% auto;
    }
  }
}

ul.runs{
  li{
    padding: 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    &:last-of-type{
      border: 0;
    }
    &.disabled{
      cursor: default;
      background: #ccc;
    }
    .loading{
      position: absolute;
      right: 1rem;
    }
  }
}

.app-menu{
  ul.actions{
    margin-bottom: 5rem;
    li{
      padding: 1rem;
      border: 1px solid #eee;
      .fa-plus-circle{
        color: #5cb85c;
      }
    }
  }
}

.past-runs{
  background: #eee;
  background: rgba(0,0,0,.03);
  border-radius: 0;
  box-shadow: 0 0 0 0;
  border-color: #ccc;
}

ul.time-grouping{
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    margin-right: 1rem;
    &last-of-type{
      margin-right: 0;
    }
  }
}

.new-run{
  .new-run-form{
    padding: 2rem;
    .submit-box{
      margin-top: 2rem;
    }
  }
  .toggle-input{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
    button {
      font-size: .7rem;
      font-size: 1rem;
      padding: 3px 15px;
      line-height: 1px;
    }
  }
}

.platforms{
  margin: 0;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
    padding: 1rem;
    &:last-of-type{
      margin-right: 0;
    }
  }
  label{
    width: 20px;
    height: 20px;
    display: block;
    background: transparent;
    padding: 0;
    float: left;
    margin-right: 1rem;
  }
  img{
    width: 100%;
  }
}

.limit-dates{
  margin-top: 2rem;
  .calendar-container{
    z-index: 1;
    .apply{
      margin-top: 2rem;
    }
  }
}

.hypeline-results{
}

.options-toggle{
  z-index: 3;
  button{
    background: transparent;
    border: 0;
    color: #bbb;
    font-size: .9rem;
    text-transform: uppercase;
  }
}
.options-container{
  position: absolute;
  width: 40%;
  left: -1px;
  top: 0;
  z-index: 2;
  .wrapper{
    padding: 2rem;
    background: #eee;
    background: rgb(248,248,248);
    border: 1px solid #ccc;
  }
  .section{
    padding: 1rem 0 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    &:last-of-type{
      margin-bottom: 0;
      padding-bottom: 1rem;
      border: 0;
    }
  }
}
