<div>
  <div class="row">
    <div class="col-xs-3 app-menu">
      <ul class="menu actions">
        <li><a href="#/app/run"><i class="fa fa-plus-circle"></i> Create new</a></li>
      </ul>

      <div class="active-runs">
        <p ng-if="run.message" class="alert alert-info">{{run.message}}</p>
        <div ng-if="runLoading">Loading...</div>
        <div class="runs-disabled" ng-if="loadingRun && !runLoading">
          <p>Retrieving...</p>
        </div>
        <ul class="menu runs" ng-if="!runLoading">
          <li ng-repeat="run in runs"  ng-mouseenter="showOptions(run)" ng-mouseleave="hideOptions(run)">
            <div class="loading" ng-if="loadingRun == run.runId"><i class="fa fa-cog fa-spin"></i></div>
            <span class="run" ng-click="getRun(run)">#{{run.tag}} :
              <span class="small">[{{run.runDate}}]</span>

            </span>
            <span class="options" ng-if="!demo && run.showOptions">
              <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="editRun(run)"></i>
              <i class="fa fa-trash" ng-click="deleteRun(run)"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-9 action">
      <div ng-if="section == 'run'" new-run class="new-run"></div>
      <div ng-if="section == 'results'">
        <div ng-if="noDataError" class="alert alert-info">No data!</div>
        <div ng-if="!noDataError" class="row chart-container hypeline-results">
          <results-chart type="chart" name="results" runId="{{runId}}"></results-chart>
        </div>
      </div>
    </div>

  </div>
</div>


