<div ng-controller="HypelineCtrl">
  <div class="row">
      <div class="col-xs-8">
        <ng-form novalidate role="form" name="entryPoint">
            <div class="col-xs-12 col-sm-6">
                <label for="startDate" class="label label-default">Start Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" show-weeks="false" close-text="Close" close-on-date-selection="false" show-button-bar="false" ng-click="open($event)" id="startDate" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                <p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="endDate" class="label label-default">End Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" show-weeks="false" close-text="Close" close-on-date-selection="false" show-button-bar="false" ng-click="open($event)" id="endDate" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                <p>
            </div>
            <div class="col-xs-12">
                <label for="tags" class="label label-default">Tag</label>
                <p class="input-group">
                    <input class="form-control" type="text" ng-model="tag" required />
                </p>
            </div>
            <div class="col-xs-12">
                <p class="input-group">
                    <button type="submit" value="submit" class="btn btn-primary" ng-disabled="entryPoint.$invalid" ng-click="go()">Go!</button>
                </p>
            </div>
        </form>
      </div>

      <div class="col-xs-4">
        <div class="panel panel-default">
          <div ng-if="runLoading">Loading...</div>
          <ul class="runs" ng-if="!runLoading">
            <li ng-repeat="run in runs">
              <span class="run" ng-click="getRun(run)">{{run.tag}} : [{{run.startDate}} - {{run.endDate}}]</span>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-if="noDataError" class="alert alert-info"></div>
      <results-chart ng-if="!noDataError" type="chart" name="results" runId="{{runId}}"></results-chart>
    </div>
  </div>
</div>


