<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
      ng-click="menuCollapsed = ! menuCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand clearfix">
        <p>
          <a href="/"><img src="/assets/imgs/logo_small.jpg" /></a>
        </p>
    </div>
    <div class="navbar-info clearfix">
      <ul class="list-inline">
        <li>
          <a href="#/about">Info</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav navbar-nav navbar-right">
    <p ng-if="user">
      <span ng-if="user">
        <a href="#/app" class="btn btn-success">App</a>
        <a href="#/app" ng-click="logout()" href="#/user/logout" class="btn">Logout</a>
      </span>
      <span ng-if="!user">
        <a href="#/user/create" class="btn btn-primary">Sign Up</a>
        <a href="#/user/login" class="btn">Log In</a>
      </span>
    </p>
  </div>
  <div class="collapse navbar-collapse" collapse="menuCollapsed"></div>
</div>
<div class="indico clearfix">
  <p>
    <a target="_blank" href="http://indico.io">Powered By <img src="/assets/imgs/indico.png" /></a>
  </p>
</div>
